.navbar {
  height: 60px;
  width: 100%;
  background: linear-gradient(180deg, #0c0c1d, #080821);


  .wrapper {
   display: flex;
   justify-content: space-between;
margin-left:880px;
margin-top: -20px;

  

   
   

    
    

  
  }

  .social {
    
    
    

    a {
      cursor: pointer;

      img {
        width: 23px;
        height: 23px;
      }
    }
  }
}
